:root {
  --primary-font: "Nunito", sans-serif;
  --gray-x-light:rgb(241, 239, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--gray-x-light);
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}